.error-body {
  color: #0b254b;
  text-align: center;
  font-family: arial, sans-serif;
  margin: 0;
  font-size: 19px;
}

.background {
  background-image: linear-gradient(#fff 0%, #edf4ff 100%);
  border-bottom-left-radius: 50% 100px;
  border-bottom-right-radius: 50% 100px;
  padding: 20vh 25px 15vh 25px;
}

.content {
  width: 100%;
  max-width: 1140px;
  margin: auto
}

.not-found-message {
  margin-bottom: 30px;
}
