<h3>California Consumer Privacy Act (CCPA) Disclosures</h3>
<p>
  To process, and verify your privacy request, we will ask you for the following categories of information:
  <ul>
    <li>Email Address</li>
    <li>Telephone Number</li>
    <li>Street Address</li>
  </ul>
</p>
<p>The Personal Information that you provide will only be used for the purpose of your privacy request.</p>
<p>The Personal Information that you provide will only be transmitted to <%= FMA_LLC %> or other third parties that you specifically designate.</p>
<p>We do not sell your Personal Information for marketing purposes.</p>
<p>Consistent with California Civil Code Section 1798.105 (d)(2), we will retain all Personal Information received to detect security incidents, protect against malicious, deceptive, fraudulent, or illegal activity; or prosecute those responsible for that activity.</p>
