<h1><%= t('public.index.title') %></h1>
<p>
  For Organizations, we are a Firewall for your consumer Privacy Requests and provide the following benefits to your Privacy Management Program:
  <ul class="list-group">
    <li class="list-group-item"><strong>Reject</strong> robotic traffic and malicious requests. We use robot filters, captchas, and anti-virus software to deny unwanted traffic.</li>
    <li class="list-group-item"><strong>Suppress</strong> invalid or incomplete privacy requests such as junk postings, unsolicited offers, etc.</li>
    <li class="list-group-item"><strong>Validate</strong> the request content. For example, email addresses &amp; telephone numbers are the correct length, format, etc.</li>
    <li class="list-group-item"><strong>Authenticate/Verify</strong> that that the consumer controls the indicated contact mechanisms like telephone, email address, street address, etc. (according to your specifications).</li>
    <li class="list-group-item">
      Accept<strong> written Privacy Requests</strong> at our customer service center in Boulder, CO.
    </li>
    <li class="list-group-item">
      Provide <strong>Telephone Support</strong> to consumers who have questions about how to submit a Privacy Request.
    </li>
    <li class="list-group-item"><strong>Submit</strong> the privacy request to you only after it has been completed and certified by the consumer. Your statutory time to respond will not start until you have received the certified request.</li>
    <li class="list-group-item"><strong>Keep an Audit Trail</strong> so you can prove when a privacy request was started, modified, certified, and delivered to you.</li>
    <li class="list-group-item"><strong>Detect Duplicates</strong> to alert your staff of repetitive or abusive requests.</li>
    <li class="list-group-item">All in a <strong>Secure Data Center</strong> where we encrypt data when in transit and while at rest within the database.</li>
  </ul>
</p>
<p>This Web App is owned by <%= FMA_LLC %>, and we act as a third-party service provider for privacy related services. You can learn more about us and our privacy policies by using the links below.</p>
<p>
  We have a Software And Service As A Service business model which makes us very SASAAS-y.
</p>
